adf-fabric-test/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-fabric-test"
		},
		"ls_dl_fabrictest_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ls_dl_fabrictest'"
		},
		"ls_st_fabrictest_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_st_fabrictest'"
		},
		"ls_sql_fabrictest_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ls_sql_fabrictest'"
		},
		"ls_dl_fabrictest_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://dlfabrictest0001.dfs.core.windows.net/"
		},
		"ls_sql_fabrictest_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sqlserver-fabrictest.database.windows.net"
		},
		"ls_sql_fabrictest_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "sqldb-fabrictest"
		},
		"ls_sql_fabrictest_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "fabrictest"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pl_01_all_files_landing_to_raw')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Customers Landing to Raw",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['CUSTOMER_ID']"
										},
										"sink": {
											"path": "$['CUSTOMER_ID']"
										}
									},
									{
										"source": {
											"path": "$['FULL_NAME']"
										},
										"sink": {
											"path": "$['FULL_NAME']"
										}
									},
									{
										"source": {
											"path": "$['EMAIL_ADDRESS']"
										},
										"sink": {
											"path": "$['EMAIL_ADDRESS']"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ds_landing_fabrictest_customers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_raw_fabrictest_customers",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy Order Items Landing to Raw",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy Customers Landing to Raw",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ORDER_ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ORDER_ID",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "LINE_ITEM_ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LINE_ITEM_ID",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PRODUCT_ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PRODUCT_ID",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "UNIT_PRICE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "UNIT_PRICE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "QUANTITY",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "QUANTITY",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_landing_fabrictest_items",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_raw_fabrictest_items",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy Orders Landing to Raw",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy Order Items Landing to Raw",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "ParquetReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ORDER_ID",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "ORDER_ID",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "ORDER_DATETIME",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "ORDER_DATETIME",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "CUSTOMER_ID",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "CUSTOMER_ID",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "ORDER_STATUS",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "ORDER_STATUS",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "STORE_ID",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "STORE_ID",
											"type": "String",
											"physicalType": "UTF8"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_landing_orders",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_raw_orders",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy Products Landing to Raw",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy Orders Landing to Raw",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_landing_fabrictest_products",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_raw_fabrictest_products",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy Stores Landing to Raw",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy Products Landing to Raw",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_landing_fabrictest_stores",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_raw_fabrictest_stores",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Project"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_landing_fabrictest_customers')]",
				"[concat(variables('factoryId'), '/datasets/ds_raw_fabrictest_customers')]",
				"[concat(variables('factoryId'), '/datasets/ds_landing_fabrictest_items')]",
				"[concat(variables('factoryId'), '/datasets/ds_raw_fabrictest_items')]",
				"[concat(variables('factoryId'), '/datasets/ds_landing_orders')]",
				"[concat(variables('factoryId'), '/datasets/ds_raw_orders')]",
				"[concat(variables('factoryId'), '/datasets/ds_landing_fabrictest_products')]",
				"[concat(variables('factoryId'), '/datasets/ds_raw_fabrictest_products')]",
				"[concat(variables('factoryId'), '/datasets/ds_landing_fabrictest_stores')]",
				"[concat(variables('factoryId'), '/datasets/ds_raw_fabrictest_stores')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_01_all_files_landing_to_raw_dynamic')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Customers Landing to Raw",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['CUSTOMER_ID']"
										},
										"sink": {
											"path": "$['CUSTOMER_ID']"
										}
									},
									{
										"source": {
											"path": "$['FULL_NAME']"
										},
										"sink": {
											"path": "$['FULL_NAME']"
										}
									},
									{
										"source": {
											"path": "$['EMAIL_ADDRESS']"
										},
										"sink": {
											"path": "$['EMAIL_ADDRESS']"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ds_landing_fabrictest_customers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_raw_fabrictest_customers_dynamic",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy Order Items Landing to Raw",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy Customers Landing to Raw",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ORDER_ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ORDER_ID",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "LINE_ITEM_ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LINE_ITEM_ID",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PRODUCT_ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PRODUCT_ID",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "UNIT_PRICE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "UNIT_PRICE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "QUANTITY",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "QUANTITY",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_landing_fabrictest_items",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_raw_fabrictest_items_dynamic",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy Orders Landing to Raw",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy Order Items Landing to Raw",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "ParquetReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ORDER_ID",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "ORDER_ID",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "ORDER_DATETIME",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "ORDER_DATETIME",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "CUSTOMER_ID",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "CUSTOMER_ID",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "ORDER_STATUS",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "ORDER_STATUS",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "STORE_ID",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "STORE_ID",
											"type": "String",
											"physicalType": "UTF8"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_landing_orders",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_raw_orders_dynamic",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy Products Landing to Raw",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy Orders Landing to Raw",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_landing_fabrictest_products",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_raw_fabrictest_products_dynamic",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy Stores Landing to Raw",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy Products Landing to Raw",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_landing_fabrictest_stores",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_raw_fabrictest_stores_dynamic",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Project Dynamic + SQL"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_landing_fabrictest_customers')]",
				"[concat(variables('factoryId'), '/datasets/ds_raw_fabrictest_customers_dynamic')]",
				"[concat(variables('factoryId'), '/datasets/ds_landing_fabrictest_items')]",
				"[concat(variables('factoryId'), '/datasets/ds_raw_fabrictest_items_dynamic')]",
				"[concat(variables('factoryId'), '/datasets/ds_landing_orders')]",
				"[concat(variables('factoryId'), '/datasets/ds_raw_orders_dynamic')]",
				"[concat(variables('factoryId'), '/datasets/ds_landing_fabrictest_products')]",
				"[concat(variables('factoryId'), '/datasets/ds_raw_fabrictest_products_dynamic')]",
				"[concat(variables('factoryId'), '/datasets/ds_landing_fabrictest_stores')]",
				"[concat(variables('factoryId'), '/datasets/ds_raw_fabrictest_stores_dynamic')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_02_all_files_raw_to_cleansed')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "raw to cleansed",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:20:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_all_raw_to_cleansed_parquet",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"OrdersRaw": {},
									"OrdersItemRaw": {},
									"ProductsRaw": {},
									"StoresRaw": {},
									"CustomersRaw": {},
									"OrdersSink": {},
									"OrdersItemSink": {},
									"CustomersSink": {},
									"ProductsSink": {},
									"StoresSink": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Project"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_all_raw_to_cleansed_parquet')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_02_all_files_raw_to_cleansed_dynamic')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "raw to cleansed",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:20:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_all_raw_to_cleansed_parquet_dynamic",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"OrdersRaw": {},
									"OrdersItemRaw": {},
									"ProductsRaw": {},
									"StoresRaw": {},
									"CustomersRaw": {},
									"OrdersSink": {},
									"OrdersItemSink": {},
									"CustomersSink": {},
									"ProductsSink": {},
									"StoresSink": {}
								},
								"linkedServiceParameters": {}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Project Dynamic + SQL"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_all_raw_to_cleansed_parquet_dynamic')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_03_all_files_clenased_to_structured')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "cleansed To Structured",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_all_cleansed_to_structured",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"orders": {},
									"orderitems": {},
									"stores": {},
									"products": {},
									"StructuredOrdersSink": {},
									"StructuredStoresSink": {},
									"StructuredProducts": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Project"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_all_cleansed_to_structured')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_03_all_files_clenased_to_structured_dynamic')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "cleansed To Structured",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_all_cleansed_to_structured_dynamic",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"orders": {},
									"orderitems": {},
									"stores": {},
									"products": {},
									"StructuredOrdersSink": {},
									"StructuredStoresSink": {},
									"StructuredProducts": {},
									"sqlOrders": {},
									"sqlStores": {},
									"sqlProducts": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Project Dynamic + SQL"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_all_cleansed_to_structured_dynamic')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_04_all_structrured_to_analytics')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "structured to analytics",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_all_structured_to_analytics",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"StructuredOrders": {},
									"StructuredStores": {},
									"StructuredProducts": {},
									"sink1": {},
									"sink2": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Project"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_all_structured_to_analytics')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_condition_switch')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "If Condition1",
						"type": "IfCondition",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@activity('Get Metadata1').output.exists",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_test_source_file",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_test_sink",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					},
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_test_source_file",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"itemName",
								"exists",
								"columnCount"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "Switch1",
						"type": "Switch",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"on": {
								"value": "@string(activity('Get Metadata1').output.columnCount)",
								"type": "Expression"
							},
							"cases": [
								{
									"value": "5",
									"activities": [
										{
											"name": "Copy data2",
											"type": "Copy",
											"dependsOn": [],
											"policy": {
												"timeout": "0.12:00:00",
												"retry": 0,
												"retryIntervalInSeconds": 30,
												"secureOutput": false,
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"source": {
													"type": "DelimitedTextSource",
													"storeSettings": {
														"type": "AzureBlobFSReadSettings",
														"recursive": true,
														"enablePartitionDiscovery": false
													},
													"formatSettings": {
														"type": "DelimitedTextReadSettings"
													}
												},
												"sink": {
													"type": "DelimitedTextSink",
													"storeSettings": {
														"type": "AzureBlobFSWriteSettings"
													},
													"formatSettings": {
														"type": "DelimitedTextWriteSettings",
														"quoteAllText": true,
														"fileExtension": ".txt"
													}
												},
												"enableStaging": false,
												"translator": {
													"type": "TabularTranslator",
													"typeConversion": true,
													"typeConversionSettings": {
														"allowDataTruncation": true,
														"treatBooleanAsNumber": false
													}
												}
											},
											"inputs": [
												{
													"referenceName": "ds_test_source_file",
													"type": "DatasetReference",
													"parameters": {}
												}
											],
											"outputs": [
												{
													"referenceName": "ds_test_sink",
													"type": "DatasetReference",
													"parameters": {}
												}
											]
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Section 7"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_test_source_file')]",
				"[concat(variables('factoryId'), '/datasets/ds_test_sink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_copy_files_stores')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Json Stories filesz",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*.json",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "MergeFiles"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_source_stories",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sink_stories",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_source_stories')]",
				"[concat(variables('factoryId'), '/datasets/ds_sink_stories')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_dataflow_test_1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_test_1",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"OrderItemsRaw": {},
									"OrderItemsTestSink": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_test_1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_delete_folders')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "delete_test_section_7",
						"type": "Delete",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_test_source",
								"type": "DatasetReference",
								"parameters": {}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "ls_dl_fabrictest",
									"type": "LinkedServiceReference"
								},
								"path": "test"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Section 7"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_test_source')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_dl_fabrictest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_execute_orders')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Landing to Raw",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_01_all_files_landing_to_raw",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Raw to Cleansed",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Landing to Raw",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_02_all_files_raw_to_cleansed",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Cleansed to Structure",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Raw to Cleansed",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_03_all_files_clenased_to_structured",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Structured To Analytics",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Cleansed to Structure",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_04_all_structrured_to_analytics",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Project"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_01_all_files_landing_to_raw')]",
				"[concat(variables('factoryId'), '/pipelines/pl_02_all_files_raw_to_cleansed')]",
				"[concat(variables('factoryId'), '/pipelines/pl_03_all_files_clenased_to_structured')]",
				"[concat(variables('factoryId'), '/pipelines/pl_04_all_structrured_to_analytics')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_execute_orders_dynamic')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Landing to Raw",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_01_all_files_landing_to_raw_dynamic",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Raw to Cleansed",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Landing to Raw",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_02_all_files_raw_to_cleansed_dynamic",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Cleansed to Structure",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Raw to Cleansed",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_03_all_files_clenased_to_structured_dynamic",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Project Dynamic + SQL"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_01_all_files_landing_to_raw_dynamic')]",
				"[concat(variables('factoryId'), '/pipelines/pl_02_all_files_raw_to_cleansed_dynamic')]",
				"[concat(variables('factoryId'), '/pipelines/pl_03_all_files_clenased_to_structured_dynamic')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_foreach')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "vArray",
							"value": [
								"element 1",
								"element 2",
								"element 3"
							]
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Set variable1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@variables('vArray')",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set variable2",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "vString",
										"value": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"vArray": {
						"type": "Array"
					},
					"vString": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Section 7"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_foreach_2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_test_source",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata1').output.childItems",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set variable1",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "vString",
										"value": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"vString": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Section 7"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_test_source')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_get_metadata')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_test_source",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems",
								"exists",
								"itemName",
								"itemType",
								"lastModified"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Section 7"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_test_source')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_lookup')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "ds_test_source",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Section 7"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_test_source')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_metadata_copyfiles')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_par_test_source",
								"type": "DatasetReference",
								"parameters": {
									"pSourceFileName": {
										"value": "@variables('vFileName')",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata1').output.childItems",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set variable1",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "vFileName",
										"value": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Set variable1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"wildcardFileName": "*",
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_par_test_source",
											"type": "DatasetReference",
											"parameters": {
												"pSourceFileName": {
													"value": "@variables('vFileName')",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_par_test_sink",
											"type": "DatasetReference",
											"parameters": {
												"pSinkFolderPath": {
													"value": "@variables('vFileName')",
													"type": "Expression"
												},
												"pSourceFolderPath": {
													"value": "@concat('sink/', formatDateTime(utcnow(), 'yyyy-MM-dd'))",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"vFileName": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Section 7"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_par_test_source')]",
				"[concat(variables('factoryId'), '/datasets/ds_par_test_sink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_analytics_products_orders_monthly')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_dl_fabrictest",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "05 Analytics"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "products_orders_monthly",
						"fileSystem": "analytics"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_dl_fabrictest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_analytics_stores_orders_monthly')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_dl_fabrictest",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "05 Analytics"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "stores_orders_monthly",
						"fileSystem": "analytics"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_dl_fabrictest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_cleansed_customers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_dl_fabrictest",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "03 Cleansed"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "customers",
						"fileSystem": "cleansed"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "CUSTOMER_ID",
						"type": "INT32"
					},
					{
						"name": "EMAIL_ADDRESS",
						"type": "UTF8"
					},
					{
						"name": "FULL_NAME",
						"type": "UTF8"
					},
					{
						"name": "UPDATED_TIMESTAMP",
						"type": "INT96"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_dl_fabrictest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_cleansed_customers_dynamic')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_dl_fabrictest",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "03 Cleansed Dynamic"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@concat('customers/',formatDateTime(utcNow(),'yyyy-MM-dd'))",
							"type": "Expression"
						},
						"fileSystem": "cleansed"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "CUSTOMER_ID",
						"type": "INT32"
					},
					{
						"name": "FULL_NAME",
						"type": "UTF8"
					},
					{
						"name": "EMAIL_ADDRESS",
						"type": "UTF8"
					},
					{
						"name": "UPDATED_TIMESTAMP",
						"type": "INT96"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_dl_fabrictest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_cleansed_order_items')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_dl_fabrictest",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "03 Cleansed"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "order_items",
						"fileSystem": "cleansed"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "ORDER_ID",
						"type": "INT32"
					},
					{
						"name": "PRODUCT_ID",
						"type": "INT32"
					},
					{
						"name": "UNIT_PRICE",
						"type": "DOUBLE"
					},
					{
						"name": "QUANTITY",
						"type": "INT32"
					},
					{
						"name": "UPDATED_TIMESTAMP",
						"type": "INT96"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_dl_fabrictest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_cleansed_order_items_dynamic')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_dl_fabrictest",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "03 Cleansed Dynamic"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@concat('order_items/',formatDateTime(utcNow(),'yyyy-MM-dd'))",
							"type": "Expression"
						},
						"fileSystem": "cleansed"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "ORDER_ID",
						"type": "INT32"
					},
					{
						"name": "PRODUCT_ID",
						"type": "INT32"
					},
					{
						"name": "UNIT_PRICE",
						"type": "DOUBLE"
					},
					{
						"name": "QUANTITY",
						"type": "INT32"
					},
					{
						"name": "UPDATED_TIMESTAMP",
						"type": "INT96"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_dl_fabrictest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_cleansed_orders')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_dl_fabrictest",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "03 Cleansed"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "orders",
						"fileSystem": "cleansed"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "ORDER_ID",
						"type": "INT32"
					},
					{
						"name": "ORDER_DATE",
						"type": "DATE"
					},
					{
						"name": "CUSTOMER_ID",
						"type": "INT32"
					},
					{
						"name": "STORE_ID",
						"type": "INT32"
					},
					{
						"name": "UPDATED_TIMESTAMP",
						"type": "INT96"
					},
					{
						"name": "ORDER_STATUS",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_dl_fabrictest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_cleansed_orders_dynamic')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_dl_fabrictest",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "03 Cleansed Dynamic"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@concat('orders/',formatDateTime(utcNow(),'yyyy-MM-dd'))",
							"type": "Expression"
						},
						"fileSystem": "cleansed"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "ORDER_ID",
						"type": "INT32"
					},
					{
						"name": "ORDER_DATE",
						"type": "DATE"
					},
					{
						"name": "CUSTOMER_ID",
						"type": "INT32"
					},
					{
						"name": "ORDER_STATUS",
						"type": "UTF8"
					},
					{
						"name": "STORE_ID",
						"type": "INT32"
					},
					{
						"name": "UPDATED_TIMESTAMP",
						"type": "INT96"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_dl_fabrictest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_cleansed_orders_partitions')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_dl_fabrictest",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "03 Cleansed"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "orders_partitions",
						"fileSystem": "cleansed"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_dl_fabrictest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_cleansed_products')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_dl_fabrictest",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "03 Cleansed"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "products",
						"fileSystem": "cleansed"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "PRODUCT_ID",
						"type": "INT32"
					},
					{
						"name": "PRODUCT_NAME",
						"type": "UTF8"
					},
					{
						"name": "UNIT_PRICE",
						"type": "DOUBLE"
					},
					{
						"name": "UPDATE_TIMESTAMP",
						"type": "INT96"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_dl_fabrictest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_cleansed_products_dynamic')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_dl_fabrictest",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "03 Cleansed Dynamic"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@concat('products/',formatDateTime(utcNow(),'yyyy-MM-dd'))",
							"type": "Expression"
						},
						"fileSystem": "cleansed"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "PRODUCT_ID",
						"type": "INT32"
					},
					{
						"name": "PRODUCT_NAME",
						"type": "UTF8"
					},
					{
						"name": "UNIT_PRICE",
						"type": "DOUBLE"
					},
					{
						"name": "UPDATE_TIMESTAMP",
						"type": "INT96"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_dl_fabrictest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_cleansed_stores')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_dl_fabrictest",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "03 Cleansed"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "stores",
						"fileSystem": "cleansed"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "STORE_ID",
						"type": "INT32"
					},
					{
						"name": "STORE_NAME",
						"type": "UTF8"
					},
					{
						"name": "LATITUDE",
						"type": "DOUBLE"
					},
					{
						"name": "LONGITUDE",
						"type": "DOUBLE"
					},
					{
						"name": "UPDATE_TIMESTAMP",
						"type": "INT96"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_dl_fabrictest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_cleansed_stores_dynamic')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_dl_fabrictest",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "03 Cleansed Dynamic"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@concat('stores/',formatDateTime(utcNow(),'yyyy-MM-dd'))",
							"type": "Expression"
						},
						"fileSystem": "cleansed"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "STORE_ID",
						"type": "INT32"
					},
					{
						"name": "STORE_NAME",
						"type": "UTF8"
					},
					{
						"name": "LATITUDE",
						"type": "DOUBLE"
					},
					{
						"name": "LONGITUDE",
						"type": "DOUBLE"
					},
					{
						"name": "UPDATE_TIMESTAMP",
						"type": "INT96"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_dl_fabrictest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_landing_fabrictest_customers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_st_fabrictest",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "01 Landing"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "customers.json",
						"container": "landing"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_st_fabrictest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_landing_fabrictest_items')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_st_fabrictest",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "01 Landing"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "order_items.txt",
						"container": "landing"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_st_fabrictest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_landing_fabrictest_products')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_st_fabrictest",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "01 Landing"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "products.json",
						"container": "landing"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_st_fabrictest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_landing_fabrictest_stores')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_st_fabrictest",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "01 Landing"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "stores.json",
						"container": "landing"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_st_fabrictest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_landing_json_files')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_st_fabrictest",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "01 Landing"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "landing"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_st_fabrictest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_landing_orders')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_st_fabrictest",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "01 Landing"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "orders.parquet",
						"container": "landing"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "ORDER_ID",
						"type": "UTF8"
					},
					{
						"name": "ORDER_DATETIME",
						"type": "UTF8"
					},
					{
						"name": "CUSTOMER_ID",
						"type": "UTF8"
					},
					{
						"name": "ORDER_STATUS",
						"type": "UTF8"
					},
					{
						"name": "STORE_ID",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_st_fabrictest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_par_test_sink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_dl_fabrictest",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"pSinkFolderPath": {
						"type": "string"
					},
					"pSourceFolderPath": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Section 7"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().pSinkFolderPath",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().pSourceFolderPath",
							"type": "Expression"
						},
						"fileSystem": "test"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_dl_fabrictest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_par_test_source')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_dl_fabrictest",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"pSourceFileName": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Section 7"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "source",
						"fileSystem": "test"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_dl_fabrictest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_raw_fabrictest_customers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_dl_fabrictest",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "02 Raw"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "customers.json",
						"fileSystem": "raw"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_dl_fabrictest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_raw_fabrictest_customers_dynamic')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_dl_fabrictest",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "02 Raw Dynamic"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "customers.json",
						"folderPath": {
							"value": "@formatDateTime(utcNow(),'yyyy-MM-dd')",
							"type": "Expression"
						},
						"fileSystem": "raw"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"CUSTOMER_ID": {
							"type": "string"
						},
						"FULL_NAME": {
							"type": "string"
						},
						"EMAIL_ADDRESS": {
							"type": "string"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_dl_fabrictest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_raw_fabrictest_items')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_dl_fabrictest",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "02 Raw"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "order_items.txt",
						"fileSystem": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_dl_fabrictest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_raw_fabrictest_items_dynamic')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_dl_fabrictest",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "02 Raw Dynamic"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "order_items.txt",
						"folderPath": {
							"value": "@formatDateTime(utcNow(),'yyyy-MM-dd')",
							"type": "Expression"
						},
						"fileSystem": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ORDER_ID",
						"type": "String"
					},
					{
						"name": "LINE_ITEM_ID",
						"type": "String"
					},
					{
						"name": "PRODUCT_ID",
						"type": "String"
					},
					{
						"name": "UNIT_PRICE",
						"type": "String"
					},
					{
						"name": "QUANTITY",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_dl_fabrictest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_raw_fabrictest_products')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_dl_fabrictest",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "02 Raw"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "products.json",
						"fileSystem": "raw"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_dl_fabrictest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_raw_fabrictest_products_dynamic')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_dl_fabrictest",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "02 Raw Dynamic"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "products.json",
						"folderPath": {
							"value": "@formatDateTime(utcNow(),'yyyy-MM-dd')",
							"type": "Expression"
						},
						"fileSystem": "raw"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"PRODUCT_ID": {
							"type": "string"
						},
						"PRODUCT_NAME": {
							"type": "string"
						},
						"UNIT_PRICE": {
							"type": "string"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_dl_fabrictest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_raw_fabrictest_stores')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_dl_fabrictest",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "02 Raw"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "stores.json",
						"fileSystem": "raw"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_dl_fabrictest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_raw_fabrictest_stores_dynamic')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_dl_fabrictest",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "02 Raw Dynamic"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "stores.json",
						"folderPath": {
							"value": "@formatDateTime(utcNow(),'yyyy-MM-dd')",
							"type": "Expression"
						},
						"fileSystem": "raw"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"STORE_ID": {
							"type": "string"
						},
						"STORE_NAME": {
							"type": "string"
						},
						"WEB_ADDRESS": {
							"type": "string"
						},
						"LATITUDE": {
							"type": "string"
						},
						"LONGITUDE": {
							"type": "string"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_dl_fabrictest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_raw_json_files')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_dl_fabrictest",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "02 Raw"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "raw"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_dl_fabrictest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_raw_json_files_dynamic')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_dl_fabrictest",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "02 Raw Dynamic"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@formatDateTime(utcNow(),'yyyy-MM-dd')",
							"type": "Expression"
						},
						"fileSystem": "raw"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_dl_fabrictest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_raw_orders')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_dl_fabrictest",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "02 Raw"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "orders.parquet",
						"fileSystem": "raw"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_dl_fabrictest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_raw_orders_dynamic')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_dl_fabrictest",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "02 Raw Dynamic"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "orders.parquet",
						"folderPath": {
							"value": "@formatDateTime(utcNow(),'yyyy-MM-dd')",
							"type": "Expression"
						},
						"fileSystem": "raw"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "ORDER_ID",
						"type": "UTF8"
					},
					{
						"name": "ORDER_DATETIME",
						"type": "UTF8"
					},
					{
						"name": "CUSTOMER_ID",
						"type": "UTF8"
					},
					{
						"name": "ORDER_STATUS",
						"type": "UTF8"
					},
					{
						"name": "STORE_ID",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_dl_fabrictest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sink_order_items_df')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_dl_fabrictest",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "order_items.csv",
						"folderPath": "df_sink",
						"fileSystem": "filescopytest"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_dl_fabrictest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sink_stories')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_dl_fabrictest",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Misc"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "sink",
						"fileSystem": "filescopytest"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_dl_fabrictest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_source_stories')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_dl_fabrictest",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Misc"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "source/stores_test",
						"fileSystem": "filescopytest"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_dl_fabrictest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_structured_orders')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_dl_fabrictest",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "04 Structured"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "orders",
						"fileSystem": "structured"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "ORDER_ID",
						"type": "INT32"
					},
					{
						"name": "ORDER_DATE",
						"type": "DATE"
					},
					{
						"name": "CUSTOMER_ID",
						"type": "INT32"
					},
					{
						"name": "STORE_ID",
						"type": "INT32"
					},
					{
						"name": "ORDER_STATUS",
						"type": "UTF8"
					},
					{
						"name": "PRODUCT_ID",
						"type": "INT32"
					},
					{
						"name": "UNIT_PRICE",
						"type": "DOUBLE"
					},
					{
						"name": "QUANTITY",
						"type": "INT32"
					},
					{
						"name": "SUBTOTAL",
						"type": "DOUBLE"
					},
					{
						"name": "UPDATED_TIMESTAMP",
						"type": "INT96"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_dl_fabrictest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_structured_products')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_dl_fabrictest",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "04 Structured"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "products",
						"fileSystem": "structured"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "PRODUCT_ID",
						"type": "INT32"
					},
					{
						"name": "PRODUCT_NAME",
						"type": "UTF8"
					},
					{
						"name": "UNIT_PRICE",
						"type": "DOUBLE"
					},
					{
						"name": "UPDATE_TIMESTAMP",
						"type": "INT96"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_dl_fabrictest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_structured_stores')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_dl_fabrictest",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "04 Structured"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "stores",
						"fileSystem": "structured"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "STORE_ID",
						"type": "INT32"
					},
					{
						"name": "STORE_NAME",
						"type": "UTF8"
					},
					{
						"name": "LATITUDE",
						"type": "DOUBLE"
					},
					{
						"name": "LONGITUDE",
						"type": "DOUBLE"
					},
					{
						"name": "UPDATE_TIMESTAMP",
						"type": "INT96"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_dl_fabrictest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_temp_sink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_dl_fabrictest",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Misc"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "tempsink"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_dl_fabrictest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_test_sink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_dl_fabrictest",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Section 7"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "sink",
						"fileSystem": "test"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_dl_fabrictest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_test_source')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_dl_fabrictest",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Section 7"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "source",
						"fileSystem": "test"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_dl_fabrictest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_test_source_file')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_dl_fabrictest",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Section 7"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "order_items_2022-01-29.csv",
						"folderPath": "source",
						"fileSystem": "test"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": false,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_dl_fabrictest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_dl_fabrictest')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_dl_fabrictest_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_dl_fabrictest_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_st_fabrictest')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('ls_st_fabrictest_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger_test')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_execute_orders",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 24,
						"startTime": "2025-04-10T22:01:00",
						"endTime": "2025-04-11T07:54:00",
						"timeZone": "Central European Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_execute_orders')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_all_cleansed_to_structured')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_cleansed_orders",
								"type": "DatasetReference"
							},
							"name": "orders"
						},
						{
							"dataset": {
								"referenceName": "ds_cleansed_order_items",
								"type": "DatasetReference"
							},
							"name": "orderitems"
						},
						{
							"dataset": {
								"referenceName": "ds_cleansed_stores",
								"type": "DatasetReference"
							},
							"name": "stores"
						},
						{
							"dataset": {
								"referenceName": "ds_cleansed_products",
								"type": "DatasetReference"
							},
							"name": "products"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_structured_orders",
								"type": "DatasetReference"
							},
							"name": "StructuredOrdersSink"
						},
						{
							"dataset": {
								"referenceName": "ds_structured_stores",
								"type": "DatasetReference"
							},
							"name": "StructuredStoresSink"
						},
						{
							"dataset": {
								"referenceName": "ds_structured_products",
								"type": "DatasetReference"
							},
							"name": "StructuredProducts"
						}
					],
					"transformations": [
						{
							"name": "OrderWithOrderItem"
						},
						{
							"name": "orderDropColumns"
						},
						{
							"name": "orderItemDropColumns"
						},
						{
							"name": "CalcSubtotalAndTimeStamp"
						},
						{
							"name": "CalcTimeStamp"
						},
						{
							"name": "CalcTimeStampP"
						}
					],
					"scriptLines": [
						"source(output(",
						"          ORDER_ID as integer,",
						"          ORDER_DATE as date,",
						"          CUSTOMER_ID as integer,",
						"          STORE_ID as integer,",
						"          UPDATED_TIMESTAMP as timestamp,",
						"          ORDER_STATUS as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> orders",
						"source(output(",
						"          ORDER_ID as integer,",
						"          PRODUCT_ID as integer,",
						"          UNIT_PRICE as double,",
						"          QUANTITY as integer,",
						"          UPDATED_TIMESTAMP as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> orderitems",
						"source(output(",
						"          STORE_ID as integer,",
						"          STORE_NAME as string,",
						"          LATITUDE as double,",
						"          LONGITUDE as double,",
						"          UPDATE_TIMESTAMP as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> stores",
						"source(output(",
						"          PRODUCT_ID as integer,",
						"          PRODUCT_NAME as string,",
						"          UNIT_PRICE as double,",
						"          UPDATE_TIMESTAMP as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> products",
						"orderDropColumns, orderItemDropColumns join(orderDropColumns@ORDER_ID == orderItemDropColumns@ORDER_ID,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> OrderWithOrderItem",
						"orders select(mapColumn(",
						"          ORDER_ID,",
						"          ORDER_DATE,",
						"          CUSTOMER_ID,",
						"          STORE_ID,",
						"          ORDER_STATUS",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> orderDropColumns",
						"orderitems select(mapColumn(",
						"          ORDER_ID,",
						"          PRODUCT_ID,",
						"          UNIT_PRICE,",
						"          QUANTITY",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> orderItemDropColumns",
						"OrderWithOrderItem derive(SUBTOTAL = UNIT_PRICE * QUANTITY,",
						"          UPDATED_TIMESTAMP = currentUTC()) ~> CalcSubtotalAndTimeStamp",
						"stores derive(UPDATE_TIMESTAMP = currentUTC()) ~> CalcTimeStamp",
						"products derive(UPDATE_TIMESTAMP = currentUTC()) ~> CalcTimeStampP",
						"CalcSubtotalAndTimeStamp sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          ORDER_ID as integer,",
						"          ORDER_DATE as date,",
						"          CUSTOMER_ID as integer,",
						"          STORE_ID as integer,",
						"          ORDER_STATUS as string,",
						"          PRODUCT_ID as integer,",
						"          UNIT_PRICE as double,",
						"          QUANTITY as integer,",
						"          SUBTOTAL as double,",
						"          UPDATED_TIMESTAMP as timestamp",
						"     ),",
						"     format: 'parquet',",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> StructuredOrdersSink",
						"CalcTimeStamp sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          STORE_ID as integer,",
						"          STORE_NAME as string,",
						"          LATITUDE as double,",
						"          LONGITUDE as double,",
						"          UPDATE_TIMESTAMP as timestamp",
						"     ),",
						"     format: 'parquet',",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> StructuredStoresSink",
						"CalcTimeStampP sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          PRODUCT_ID as integer,",
						"          PRODUCT_NAME as string,",
						"          UNIT_PRICE as double,",
						"          UPDATE_TIMESTAMP as timestamp",
						"     ),",
						"     format: 'parquet',",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> StructuredProducts"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_cleansed_orders')]",
				"[concat(variables('factoryId'), '/datasets/ds_cleansed_order_items')]",
				"[concat(variables('factoryId'), '/datasets/ds_cleansed_stores')]",
				"[concat(variables('factoryId'), '/datasets/ds_cleansed_products')]",
				"[concat(variables('factoryId'), '/datasets/ds_structured_orders')]",
				"[concat(variables('factoryId'), '/datasets/ds_structured_stores')]",
				"[concat(variables('factoryId'), '/datasets/ds_structured_products')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_all_cleansed_to_structured_dynamic')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_cleansed_orders_dynamic",
								"type": "DatasetReference"
							},
							"name": "orders"
						},
						{
							"dataset": {
								"referenceName": "ds_cleansed_order_items_dynamic",
								"type": "DatasetReference"
							},
							"name": "orderitems"
						},
						{
							"dataset": {
								"referenceName": "ds_cleansed_stores_dynamic",
								"type": "DatasetReference"
							},
							"name": "stores"
						},
						{
							"dataset": {
								"referenceName": "ds_cleansed_products_dynamic",
								"type": "DatasetReference"
							},
							"name": "products"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_structured_orders",
								"type": "DatasetReference"
							},
							"name": "StructuredOrdersSink"
						},
						{
							"dataset": {
								"referenceName": "ds_structured_stores",
								"type": "DatasetReference"
							},
							"name": "StructuredStoresSink"
						},
						{
							"dataset": {
								"referenceName": "ds_structured_products",
								"type": "DatasetReference"
							},
							"name": "StructuredProducts"
						},
						{
							"dataset": {
								"referenceName": "ds_sql_orders",
								"type": "DatasetReference"
							},
							"name": "sqlOrders"
						},
						{
							"dataset": {
								"referenceName": "ds_sql_stores",
								"type": "DatasetReference"
							},
							"name": "sqlStores"
						},
						{
							"dataset": {
								"referenceName": "ds_sql_products",
								"type": "DatasetReference"
							},
							"name": "sqlProducts"
						}
					],
					"transformations": [
						{
							"name": "OrderWithOrderItem"
						},
						{
							"name": "orderDropColumns"
						},
						{
							"name": "orderItemDropColumns"
						},
						{
							"name": "CalcSubtotalAndTimeStamp"
						},
						{
							"name": "CalcTimeStamp"
						},
						{
							"name": "CalcTimeStampP"
						},
						{
							"name": "rearrangeColumns"
						},
						{
							"name": "UpsertAll"
						}
					],
					"scriptLines": [
						"source(output(",
						"          ORDER_ID as integer,",
						"          ORDER_DATE as date,",
						"          CUSTOMER_ID as integer,",
						"          ORDER_STATUS as string,",
						"          STORE_ID as integer,",
						"          UPDATED_TIMESTAMP as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> orders",
						"source(output(",
						"          ORDER_ID as integer,",
						"          PRODUCT_ID as integer,",
						"          UNIT_PRICE as double,",
						"          QUANTITY as integer,",
						"          UPDATED_TIMESTAMP as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> orderitems",
						"source(output(",
						"          STORE_ID as integer,",
						"          STORE_NAME as string,",
						"          LATITUDE as double,",
						"          LONGITUDE as double,",
						"          UPDATE_TIMESTAMP as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> stores",
						"source(output(",
						"          PRODUCT_ID as integer,",
						"          PRODUCT_NAME as string,",
						"          UNIT_PRICE as double,",
						"          UPDATE_TIMESTAMP as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> products",
						"orderDropColumns, orderItemDropColumns join(orderDropColumns@ORDER_ID == orderItemDropColumns@ORDER_ID,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> OrderWithOrderItem",
						"orders select(mapColumn(",
						"          ORDER_ID,",
						"          ORDER_DATE,",
						"          CUSTOMER_ID,",
						"          STORE_ID,",
						"          ORDER_STATUS",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> orderDropColumns",
						"orderitems select(mapColumn(",
						"          ORDER_ID,",
						"          PRODUCT_ID,",
						"          UNIT_PRICE,",
						"          QUANTITY",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> orderItemDropColumns",
						"OrderWithOrderItem derive(ORDER_ITEM_ID = toInteger(concat(toString(orderDropColumns@ORDER_ID), toString(PRODUCT_ID))),",
						"          SUBTOTAL = UNIT_PRICE * QUANTITY,",
						"          UPDATED_TIMESTAMP = currentUTC()) ~> CalcSubtotalAndTimeStamp",
						"stores derive(UPDATE_TIMESTAMP = currentUTC()) ~> CalcTimeStamp",
						"products derive(UPDATE_TIMESTAMP = currentUTC()) ~> CalcTimeStampP",
						"CalcSubtotalAndTimeStamp select(mapColumn(",
						"          ORDER_ITEM_ID,",
						"          ORDER_ID = orderDropColumns@ORDER_ID,",
						"          ORDER_DATE,",
						"          CUSTOMER_ID,",
						"          STORE_ID,",
						"          ORDER_STATUS,",
						"          ORDER_ID = orderItemDropColumns@ORDER_ID,",
						"          PRODUCT_ID,",
						"          UNIT_PRICE,",
						"          QUANTITY,",
						"          SUBTOTAL,",
						"          UPDATED_TIMESTAMP",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> rearrangeColumns",
						"rearrangeColumns alterRow(upsertIf(true())) ~> UpsertAll",
						"rearrangeColumns sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          ORDER_ID as integer,",
						"          ORDER_DATE as date,",
						"          CUSTOMER_ID as integer,",
						"          STORE_ID as integer,",
						"          ORDER_STATUS as string,",
						"          PRODUCT_ID as integer,",
						"          UNIT_PRICE as double,",
						"          QUANTITY as integer,",
						"          SUBTOTAL as double,",
						"          UPDATED_TIMESTAMP as timestamp",
						"     ),",
						"     format: 'parquet',",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('key',",
						"          0,",
						"          ORDER_DATE",
						"     )) ~> StructuredOrdersSink",
						"CalcTimeStamp sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          STORE_ID as integer,",
						"          STORE_NAME as string,",
						"          LATITUDE as double,",
						"          LONGITUDE as double,",
						"          UPDATE_TIMESTAMP as timestamp",
						"     ),",
						"     format: 'parquet',",
						"     partitionFileNames:['stores.parquet'],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> StructuredStoresSink",
						"CalcTimeStampP sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          PRODUCT_ID as integer,",
						"          PRODUCT_NAME as string,",
						"          UNIT_PRICE as double,",
						"          UPDATE_TIMESTAMP as timestamp",
						"     ),",
						"     format: 'parquet',",
						"     partitionFileNames:['products.parquet'],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> StructuredProducts",
						"UpsertAll sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          ORDER_ITEM_ID as integer,",
						"          ORDER_ID as integer,",
						"          ORDER_DATE as date,",
						"          CUSTOMER_ID as integer,",
						"          ORDER_STATUS as string,",
						"          STORE_ID as integer,",
						"          PRODUCT_ID as integer,",
						"          UNIT_PRICE as decimal(18,0),",
						"          QUANTITY as integer,",
						"          SUBTOTAL as decimal(18,0),",
						"          UPDATED_TIMESTAMP as timestamp",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:true,",
						"     keys:['ORDER_ITEM_ID'],",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sqlOrders",
						"CalcTimeStamp sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          STORE_ID as integer,",
						"          STORE_NAME as string,",
						"          LATITUDE as decimal(18,0),",
						"          LONGITUDE as decimal(18,0),",
						"          UPDATED_TIMESTAMP as timestamp",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          STORE_ID,",
						"          STORE_NAME,",
						"          LATITUDE,",
						"          LONGITUDE,",
						"          UPDATED_TIMESTAMP = UPDATE_TIMESTAMP",
						"     )) ~> sqlStores",
						"CalcTimeStampP sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          PRODUCT_ID as integer,",
						"          PRODUCT_NAME as string,",
						"          UNIT_PRICE as decimal(18,0),",
						"          UPDATED_TIMESTAMP as timestamp",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          PRODUCT_ID,",
						"          PRODUCT_NAME,",
						"          UNIT_PRICE,",
						"          UPDATED_TIMESTAMP = UPDATE_TIMESTAMP",
						"     )) ~> sqlProducts"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_cleansed_orders_dynamic')]",
				"[concat(variables('factoryId'), '/datasets/ds_cleansed_order_items_dynamic')]",
				"[concat(variables('factoryId'), '/datasets/ds_cleansed_stores_dynamic')]",
				"[concat(variables('factoryId'), '/datasets/ds_cleansed_products_dynamic')]",
				"[concat(variables('factoryId'), '/datasets/ds_structured_orders')]",
				"[concat(variables('factoryId'), '/datasets/ds_structured_stores')]",
				"[concat(variables('factoryId'), '/datasets/ds_structured_products')]",
				"[concat(variables('factoryId'), '/datasets/ds_sql_orders')]",
				"[concat(variables('factoryId'), '/datasets/ds_sql_stores')]",
				"[concat(variables('factoryId'), '/datasets/ds_sql_products')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_all_raw_to_cleansed_parquet')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_raw_orders",
								"type": "DatasetReference"
							},
							"name": "OrdersRaw"
						},
						{
							"dataset": {
								"referenceName": "ds_raw_fabrictest_items",
								"type": "DatasetReference"
							},
							"name": "OrdersItemRaw"
						},
						{
							"dataset": {
								"referenceName": "ds_raw_fabrictest_products",
								"type": "DatasetReference"
							},
							"name": "ProductsRaw"
						},
						{
							"dataset": {
								"referenceName": "ds_raw_fabrictest_stores",
								"type": "DatasetReference"
							},
							"name": "StoresRaw"
						},
						{
							"dataset": {
								"referenceName": "ds_raw_fabrictest_customers",
								"type": "DatasetReference"
							},
							"name": "CustomersRaw"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_cleansed_orders",
								"type": "DatasetReference"
							},
							"name": "OrdersSink"
						},
						{
							"dataset": {
								"referenceName": "ds_cleansed_order_items",
								"type": "DatasetReference"
							},
							"name": "OrdersItemSink"
						},
						{
							"dataset": {
								"referenceName": "ds_cleansed_customers",
								"type": "DatasetReference"
							},
							"name": "CustomersSink"
						},
						{
							"dataset": {
								"referenceName": "ds_cleansed_products",
								"type": "DatasetReference"
							},
							"name": "ProductsSink"
						},
						{
							"dataset": {
								"referenceName": "ds_cleansed_stores",
								"type": "DatasetReference"
							},
							"name": "StoresSink"
						}
					],
					"transformations": [
						{
							"name": "OrderDateAndUpdatedTimeStamp"
						},
						{
							"name": "CastDataTypesOrders"
						},
						{
							"name": "DropOrderDateTimeAndReorder"
						},
						{
							"name": "UpdatedTimestamp"
						},
						{
							"name": "UpdatedTimeStampProducts"
						},
						{
							"name": "UpdatedTimeStampStores"
						},
						{
							"name": "CastDataTypesOrderItems"
						},
						{
							"name": "CastDataTypesProducts"
						},
						{
							"name": "CastDataTypesStores"
						},
						{
							"name": "CastDataTypesCustomers"
						},
						{
							"name": "DropLineItemID"
						},
						{
							"name": "DropWebAddressAndReorder"
						},
						{
							"name": "UpdatedTimestampCustomers"
						}
					],
					"scriptLines": [
						"source(output(",
						"          ORDER_ID as string,",
						"          ORDER_DATETIME as string,",
						"          CUSTOMER_ID as string,",
						"          ORDER_STATUS as string,",
						"          STORE_ID as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> OrdersRaw",
						"source(output(",
						"          ORDER_ID as short,",
						"          LINE_ITEM_ID as short,",
						"          PRODUCT_ID as short,",
						"          UNIT_PRICE as double,",
						"          QUANTITY as short",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> OrdersItemRaw",
						"source(output(",
						"          PRODUCT_ID as short,",
						"          PRODUCT_NAME as string,",
						"          UNIT_PRICE as double",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     documentForm: 'documentPerLine') ~> ProductsRaw",
						"source(output(",
						"          LATITUDE as double,",
						"          LONGITUDE as double,",
						"          STORE_ID as short,",
						"          STORE_NAME as string,",
						"          WEB_ADDRESS as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     documentForm: 'documentPerLine') ~> StoresRaw",
						"source(output(",
						"          CUSTOMER_ID as short,",
						"          EMAIL_ADDRESS as string,",
						"          FULL_NAME as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     documentForm: 'documentPerLine') ~> CustomersRaw",
						"OrdersRaw derive(ORDER_DATE = toDate(ORDER_DATETIME,'dd-MMM-yy HH.mm.ss.SS'),",
						"          UPDATED_TIMESTAMP = currentUTC()) ~> OrderDateAndUpdatedTimeStamp",
						"OrderDateAndUpdatedTimeStamp cast(output(",
						"          ORDER_ID as integer,",
						"          ORDER_DATETIME as string,",
						"          CUSTOMER_ID as integer,",
						"          ORDER_STATUS as string,",
						"          STORE_ID as integer,",
						"          ORDER_DATE as date,",
						"          UPDATED_TIMESTAMP as timestamp",
						"     ),",
						"     errors: true) ~> CastDataTypesOrders",
						"CastDataTypesOrders select(mapColumn(",
						"          ORDER_ID,",
						"          ORDER_DATE,",
						"          CUSTOMER_ID,",
						"          ORDER_STATUS,",
						"          STORE_ID,",
						"          UPDATED_TIMESTAMP",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> DropOrderDateTimeAndReorder",
						"OrdersItemRaw derive(UPDATED_TIMESTAMP = currentUTC()) ~> UpdatedTimestamp",
						"ProductsRaw derive(UPDATE_TIMESTAMP = currentUTC()) ~> UpdatedTimeStampProducts",
						"StoresRaw derive(UPDATE_TIMESTAMP = currentUTC()) ~> UpdatedTimeStampStores",
						"UpdatedTimestamp cast(output(",
						"          ORDER_ID as integer,",
						"          LINE_ITEM_ID as integer,",
						"          PRODUCT_ID as integer,",
						"          UNIT_PRICE as double,",
						"          QUANTITY as integer,",
						"          UPDATED_TIMESTAMP as timestamp",
						"     ),",
						"     errors: true) ~> CastDataTypesOrderItems",
						"UpdatedTimeStampProducts cast(output(",
						"          PRODUCT_ID as integer,",
						"          PRODUCT_NAME as string,",
						"          UNIT_PRICE as double,",
						"          UPDATE_TIMESTAMP as timestamp",
						"     ),",
						"     errors: true) ~> CastDataTypesProducts",
						"UpdatedTimeStampStores cast(output(",
						"          LATITUDE as double,",
						"          LONGITUDE as double,",
						"          STORE_ID as integer,",
						"          STORE_NAME as string,",
						"          WEB_ADDRESS as string,",
						"          UPDATE_TIMESTAMP as timestamp",
						"     ),",
						"     errors: true) ~> CastDataTypesStores",
						"CustomersRaw cast(output(",
						"          CUSTOMER_ID as integer,",
						"          EMAIL_ADDRESS as string,",
						"          FULL_NAME as string",
						"     ),",
						"     errors: true) ~> CastDataTypesCustomers",
						"CastDataTypesOrderItems select(mapColumn(",
						"          ORDER_ID,",
						"          PRODUCT_ID,",
						"          UNIT_PRICE,",
						"          QUANTITY,",
						"          UPDATED_TIMESTAMP",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> DropLineItemID",
						"CastDataTypesStores select(mapColumn(",
						"          STORE_ID,",
						"          STORE_NAME,",
						"          LATITUDE,",
						"          LONGITUDE,",
						"          UPDATE_TIMESTAMP",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> DropWebAddressAndReorder",
						"CastDataTypesCustomers derive(UPDATED_TIMESTAMP = currentUTC()) ~> UpdatedTimestampCustomers",
						"DropOrderDateTimeAndReorder sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          ORDER_ID as integer,",
						"          ORDER_DATE as date,",
						"          CUSTOMER_ID as integer,",
						"          STORE_ID as integer,",
						"          UPDATED_TIMESTAMP as timestamp,",
						"          ORDER_STATUS as string",
						"     ),",
						"     format: 'parquet',",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> OrdersSink",
						"DropLineItemID sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          ORDER_ID as integer,",
						"          PRODUCT_ID as integer,",
						"          UNIT_PRICE as double,",
						"          QUANTITY as integer,",
						"          UPDATED_TIMESTAMP as timestamp",
						"     ),",
						"     format: 'parquet',",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> OrdersItemSink",
						"UpdatedTimestampCustomers sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          CUSTOMER_ID as integer,",
						"          EMAIL_ADDRESS as string,",
						"          FULL_NAME as string,",
						"          UPDATED_TIMESTAMP as timestamp",
						"     ),",
						"     format: 'parquet',",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> CustomersSink",
						"CastDataTypesProducts sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          PRODUCT_ID as integer,",
						"          PRODUCT_NAME as string,",
						"          UNIT_PRICE as double,",
						"          UPDATE_TIMESTAMP as timestamp",
						"     ),",
						"     format: 'parquet',",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> ProductsSink",
						"DropWebAddressAndReorder sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          STORE_ID as integer,",
						"          STORE_NAME as string,",
						"          LATITUDE as double,",
						"          LONGITUDE as double,",
						"          UPDATE_TIMESTAMP as timestamp",
						"     ),",
						"     format: 'parquet',",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> StoresSink"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_raw_orders')]",
				"[concat(variables('factoryId'), '/datasets/ds_raw_fabrictest_items')]",
				"[concat(variables('factoryId'), '/datasets/ds_raw_fabrictest_products')]",
				"[concat(variables('factoryId'), '/datasets/ds_raw_fabrictest_stores')]",
				"[concat(variables('factoryId'), '/datasets/ds_raw_fabrictest_customers')]",
				"[concat(variables('factoryId'), '/datasets/ds_cleansed_orders')]",
				"[concat(variables('factoryId'), '/datasets/ds_cleansed_order_items')]",
				"[concat(variables('factoryId'), '/datasets/ds_cleansed_customers')]",
				"[concat(variables('factoryId'), '/datasets/ds_cleansed_products')]",
				"[concat(variables('factoryId'), '/datasets/ds_cleansed_stores')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_all_raw_to_cleansed_parquet_dynamic')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_raw_orders_dynamic",
								"type": "DatasetReference"
							},
							"name": "OrdersRaw"
						},
						{
							"dataset": {
								"referenceName": "ds_raw_fabrictest_items_dynamic",
								"type": "DatasetReference"
							},
							"name": "OrdersItemRaw"
						},
						{
							"dataset": {
								"referenceName": "ds_raw_fabrictest_products_dynamic",
								"type": "DatasetReference"
							},
							"name": "ProductsRaw"
						},
						{
							"dataset": {
								"referenceName": "ds_raw_fabrictest_stores_dynamic",
								"type": "DatasetReference"
							},
							"name": "StoresRaw"
						},
						{
							"dataset": {
								"referenceName": "ds_raw_fabrictest_customers_dynamic",
								"type": "DatasetReference"
							},
							"name": "CustomersRaw"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_cleansed_orders_dynamic",
								"type": "DatasetReference"
							},
							"name": "OrdersSink"
						},
						{
							"dataset": {
								"referenceName": "ds_cleansed_order_items_dynamic",
								"type": "DatasetReference"
							},
							"name": "OrdersItemSink"
						},
						{
							"dataset": {
								"referenceName": "ds_cleansed_customers_dynamic",
								"type": "DatasetReference"
							},
							"name": "CustomersSink"
						},
						{
							"dataset": {
								"referenceName": "ds_cleansed_products_dynamic",
								"type": "DatasetReference"
							},
							"name": "ProductsSink"
						},
						{
							"dataset": {
								"referenceName": "ds_cleansed_stores_dynamic",
								"type": "DatasetReference"
							},
							"name": "StoresSink"
						}
					],
					"transformations": [
						{
							"name": "OrderDateAndUpdatedTimeStamp"
						},
						{
							"name": "CastDataTypesOrders"
						},
						{
							"name": "DropOrderDateTimeAndReorder"
						},
						{
							"name": "UpdatedTimestamp"
						},
						{
							"name": "UpdatedTimeStampProducts"
						},
						{
							"name": "UpdatedTimeStampStores"
						},
						{
							"name": "CastDataTypesOrderItems"
						},
						{
							"name": "CastDataTypesProducts"
						},
						{
							"name": "CastDataTypesStores"
						},
						{
							"name": "CastDataTypesCustomers"
						},
						{
							"name": "DropLineItemID"
						},
						{
							"name": "DropWebAddressAndReorder"
						},
						{
							"name": "UpdatedTimestampCustomers"
						}
					],
					"scriptLines": [
						"source(output(",
						"          ORDER_ID as string,",
						"          ORDER_DATETIME as string,",
						"          CUSTOMER_ID as string,",
						"          ORDER_STATUS as string,",
						"          STORE_ID as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> OrdersRaw",
						"source(output(",
						"          ORDER_ID as string,",
						"          LINE_ITEM_ID as string,",
						"          PRODUCT_ID as string,",
						"          UNIT_PRICE as string,",
						"          QUANTITY as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> OrdersItemRaw",
						"source(output(",
						"          PRODUCT_ID as string,",
						"          PRODUCT_NAME as string,",
						"          UNIT_PRICE as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     documentForm: 'documentPerLine') ~> ProductsRaw",
						"source(output(",
						"          STORE_ID as string,",
						"          STORE_NAME as string,",
						"          WEB_ADDRESS as string,",
						"          LATITUDE as string,",
						"          LONGITUDE as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     documentForm: 'documentPerLine') ~> StoresRaw",
						"source(output(",
						"          CUSTOMER_ID as string,",
						"          FULL_NAME as string,",
						"          EMAIL_ADDRESS as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     documentForm: 'documentPerLine') ~> CustomersRaw",
						"OrdersRaw derive(ORDER_DATE = toDate(ORDER_DATETIME,'dd-MMM-yy HH.mm.ss.SS'),",
						"          UPDATED_TIMESTAMP = currentUTC()) ~> OrderDateAndUpdatedTimeStamp",
						"OrderDateAndUpdatedTimeStamp cast(output(",
						"          ORDER_ID as integer,",
						"          ORDER_DATETIME as string,",
						"          CUSTOMER_ID as integer,",
						"          ORDER_STATUS as string,",
						"          STORE_ID as integer,",
						"          ORDER_DATE as date,",
						"          UPDATED_TIMESTAMP as timestamp",
						"     ),",
						"     errors: true) ~> CastDataTypesOrders",
						"CastDataTypesOrders select(mapColumn(",
						"          ORDER_ID,",
						"          ORDER_DATE,",
						"          CUSTOMER_ID,",
						"          ORDER_STATUS,",
						"          STORE_ID,",
						"          UPDATED_TIMESTAMP",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> DropOrderDateTimeAndReorder",
						"OrdersItemRaw derive(UPDATED_TIMESTAMP = currentUTC()) ~> UpdatedTimestamp",
						"ProductsRaw derive(UPDATE_TIMESTAMP = currentUTC()) ~> UpdatedTimeStampProducts",
						"StoresRaw derive(UPDATE_TIMESTAMP = currentUTC()) ~> UpdatedTimeStampStores",
						"UpdatedTimestamp cast(output(",
						"          ORDER_ID as integer,",
						"          LINE_ITEM_ID as integer,",
						"          PRODUCT_ID as integer,",
						"          UNIT_PRICE as double,",
						"          QUANTITY as integer,",
						"          UPDATED_TIMESTAMP as timestamp",
						"     ),",
						"     errors: true) ~> CastDataTypesOrderItems",
						"UpdatedTimeStampProducts cast(output(",
						"          PRODUCT_ID as integer,",
						"          PRODUCT_NAME as string,",
						"          UNIT_PRICE as double,",
						"          UPDATE_TIMESTAMP as timestamp",
						"     ),",
						"     errors: true) ~> CastDataTypesProducts",
						"UpdatedTimeStampStores cast(output(",
						"          LATITUDE as double,",
						"          LONGITUDE as double,",
						"          STORE_ID as integer,",
						"          STORE_NAME as string,",
						"          WEB_ADDRESS as string,",
						"          UPDATE_TIMESTAMP as timestamp",
						"     ),",
						"     errors: true) ~> CastDataTypesStores",
						"CustomersRaw cast(output(",
						"          CUSTOMER_ID as integer,",
						"          EMAIL_ADDRESS as string,",
						"          FULL_NAME as string",
						"     ),",
						"     errors: true) ~> CastDataTypesCustomers",
						"CastDataTypesOrderItems select(mapColumn(",
						"          ORDER_ID,",
						"          PRODUCT_ID,",
						"          UNIT_PRICE,",
						"          QUANTITY,",
						"          UPDATED_TIMESTAMP",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> DropLineItemID",
						"CastDataTypesStores select(mapColumn(",
						"          STORE_ID,",
						"          STORE_NAME,",
						"          LATITUDE,",
						"          LONGITUDE,",
						"          UPDATE_TIMESTAMP",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> DropWebAddressAndReorder",
						"CastDataTypesCustomers derive(UPDATED_TIMESTAMP = currentUTC()) ~> UpdatedTimestampCustomers",
						"DropOrderDateTimeAndReorder sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          ORDER_ID as integer,",
						"          ORDER_DATE as date,",
						"          CUSTOMER_ID as integer,",
						"          ORDER_STATUS as string,",
						"          STORE_ID as integer,",
						"          UPDATED_TIMESTAMP as timestamp",
						"     ),",
						"     format: 'parquet',",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> OrdersSink",
						"DropLineItemID sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          ORDER_ID as integer,",
						"          PRODUCT_ID as integer,",
						"          UNIT_PRICE as double,",
						"          QUANTITY as integer,",
						"          UPDATED_TIMESTAMP as timestamp",
						"     ),",
						"     format: 'parquet',",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> OrdersItemSink",
						"UpdatedTimestampCustomers sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          CUSTOMER_ID as integer,",
						"          FULL_NAME as string,",
						"          EMAIL_ADDRESS as string,",
						"          UPDATED_TIMESTAMP as timestamp",
						"     ),",
						"     format: 'parquet',",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> CustomersSink",
						"CastDataTypesProducts sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          PRODUCT_ID as integer,",
						"          PRODUCT_NAME as string,",
						"          UNIT_PRICE as double,",
						"          UPDATE_TIMESTAMP as timestamp",
						"     ),",
						"     format: 'parquet',",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> ProductsSink",
						"DropWebAddressAndReorder sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          STORE_ID as integer,",
						"          STORE_NAME as string,",
						"          LATITUDE as double,",
						"          LONGITUDE as double,",
						"          UPDATE_TIMESTAMP as timestamp",
						"     ),",
						"     format: 'parquet',",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> StoresSink"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_raw_orders_dynamic')]",
				"[concat(variables('factoryId'), '/datasets/ds_raw_fabrictest_items_dynamic')]",
				"[concat(variables('factoryId'), '/datasets/ds_raw_fabrictest_products_dynamic')]",
				"[concat(variables('factoryId'), '/datasets/ds_raw_fabrictest_stores_dynamic')]",
				"[concat(variables('factoryId'), '/datasets/ds_raw_fabrictest_customers_dynamic')]",
				"[concat(variables('factoryId'), '/datasets/ds_cleansed_orders_dynamic')]",
				"[concat(variables('factoryId'), '/datasets/ds_cleansed_order_items_dynamic')]",
				"[concat(variables('factoryId'), '/datasets/ds_cleansed_customers_dynamic')]",
				"[concat(variables('factoryId'), '/datasets/ds_cleansed_products_dynamic')]",
				"[concat(variables('factoryId'), '/datasets/ds_cleansed_stores_dynamic')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_all_structured_to_analytics')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_structured_orders",
								"type": "DatasetReference"
							},
							"name": "StructuredOrders"
						},
						{
							"dataset": {
								"referenceName": "ds_structured_stores",
								"type": "DatasetReference"
							},
							"name": "StructuredStores"
						},
						{
							"dataset": {
								"referenceName": "ds_structured_products",
								"type": "DatasetReference"
							},
							"name": "StructuredProducts"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_analytics_products_orders_monthly",
								"type": "DatasetReference"
							},
							"name": "sink1"
						},
						{
							"dataset": {
								"referenceName": "ds_analytics_stores_orders_monthly",
								"type": "DatasetReference"
							},
							"name": "sink2"
						}
					],
					"transformations": [
						{
							"name": "derMonthYear"
						},
						{
							"name": "SelectColumns"
						},
						{
							"name": "JoinProductsOrders"
						},
						{
							"name": "SumByProductMonthYearAndStatus"
						},
						{
							"name": "sort1"
						},
						{
							"name": "JoinStoresOrders"
						},
						{
							"name": "SumByStoresMontyYearStatus"
						},
						{
							"name": "sort2"
						},
						{
							"name": "ExcludeCancelled"
						}
					],
					"scriptLines": [
						"source(output(",
						"          ORDER_ID as integer,",
						"          ORDER_DATE as date,",
						"          CUSTOMER_ID as integer,",
						"          STORE_ID as integer,",
						"          ORDER_STATUS as string,",
						"          PRODUCT_ID as integer,",
						"          UNIT_PRICE as double,",
						"          QUANTITY as integer,",
						"          SUBTOTAL as double,",
						"          UPDATED_TIMESTAMP as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     partitionRootPath: 'orders',",
						"     format: 'parquet') ~> StructuredOrders",
						"source(output(",
						"          STORE_ID as integer,",
						"          STORE_NAME as string,",
						"          LATITUDE as double,",
						"          LONGITUDE as double,",
						"          UPDATE_TIMESTAMP as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> StructuredStores",
						"source(output(",
						"          PRODUCT_ID as integer,",
						"          PRODUCT_NAME as string,",
						"          UNIT_PRICE as double,",
						"          UPDATE_TIMESTAMP as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> StructuredProducts",
						"ExcludeCancelled derive(MONTH_YEAR = /* concatWS(\"-\",iif(month(ORDER_DATE) >= 10, toString(month(ORDER_DATE)), concat(\"0\",toString(month(ORDER_DATE)))), toString(year(ORDER_DATE))) */\r",
						"toString(ORDER_DATE, \"MM-YYYY\")) ~> derMonthYear",
						"derMonthYear select(mapColumn(",
						"          STORE_ID,",
						"          ORDER_STATUS,",
						"          PRODUCT_ID,",
						"          SUBTOTAL,",
						"          MONTH_YEAR",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SelectColumns",
						"StructuredProducts, SelectColumns join(StructuredProducts@PRODUCT_ID == SelectColumns@PRODUCT_ID,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> JoinProductsOrders",
						"JoinProductsOrders aggregate(groupBy(PRODUCT_NAME,",
						"          MONTH_YEAR,",
						"          ORDER_STATUS),",
						"     TOTAL_AMOUNT = round(sum(SUBTOTAL),2)) ~> SumByProductMonthYearAndStatus",
						"SumByProductMonthYearAndStatus sort(asc(PRODUCT_NAME, true),",
						"     desc(MONTH_YEAR, true),",
						"     asc(ORDER_STATUS, true)) ~> sort1",
						"StructuredStores, SelectColumns join(StructuredStores@STORE_ID == SelectColumns@STORE_ID,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> JoinStoresOrders",
						"JoinStoresOrders aggregate(groupBy(STORE_NAME,",
						"          LATITUDE,",
						"          LONGITUDE,",
						"          ORDER_STATUS,",
						"          MONTH_YEAR),",
						"     TOTAL_AMOUNT = round(sum(SUBTOTAL),2)) ~> SumByStoresMontyYearStatus",
						"SumByStoresMontyYearStatus sort(asc(STORE_NAME, true),",
						"     asc(LATITUDE, true),",
						"     asc(LONGITUDE, true),",
						"     desc(MONTH_YEAR, true),",
						"     asc(ORDER_STATUS, true)) ~> sort2",
						"StructuredOrders filter(ORDER_STATUS != \"CANCELLED\") ~> ExcludeCancelled",
						"sort1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     partitionFileNames:['productsOrdersMonthly.csv'],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sink1",
						"sort2 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     partitionFileNames:['storesOrdersMonthly.csv'],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sink2"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_structured_orders')]",
				"[concat(variables('factoryId'), '/datasets/ds_structured_stores')]",
				"[concat(variables('factoryId'), '/datasets/ds_structured_products')]",
				"[concat(variables('factoryId'), '/datasets/ds_analytics_products_orders_monthly')]",
				"[concat(variables('factoryId'), '/datasets/ds_analytics_stores_orders_monthly')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_filter_sort_agg')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_cleansed_orders",
								"type": "DatasetReference"
							},
							"name": "source1"
						},
						{
							"dataset": {
								"referenceName": "ds_cleansed_order_items",
								"type": "DatasetReference"
							},
							"name": "source2"
						},
						{
							"dataset": {
								"referenceName": "ds_cleansed_order_items",
								"type": "DatasetReference"
							},
							"name": "source3"
						},
						{
							"dataset": {
								"referenceName": "ds_cleansed_orders",
								"type": "DatasetReference"
							},
							"name": "Orders"
						},
						{
							"dataset": {
								"referenceName": "ds_cleansed_customers",
								"type": "DatasetReference"
							},
							"name": "Customers"
						},
						{
							"dataset": {
								"referenceName": "ds_cleansed_orders",
								"type": "DatasetReference"
							},
							"name": "split"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_temp_sink",
								"type": "DatasetReference"
							},
							"name": "sink1"
						},
						{
							"dataset": {
								"referenceName": "ds_temp_sink",
								"type": "DatasetReference"
							},
							"name": "sink2"
						},
						{
							"dataset": {
								"referenceName": "ds_temp_sink",
								"type": "DatasetReference"
							},
							"name": "sink3"
						},
						{
							"dataset": {
								"referenceName": "ds_temp_sink",
								"type": "DatasetReference"
							},
							"name": "sink4"
						},
						{
							"dataset": {
								"referenceName": "ds_temp_sink",
								"type": "DatasetReference"
							},
							"name": "sink5"
						}
					],
					"transformations": [
						{
							"name": "filter1"
						},
						{
							"name": "sort1"
						},
						{
							"name": "aggregate1"
						},
						{
							"name": "join1"
						},
						{
							"name": "split1"
						},
						{
							"name": "union2"
						}
					],
					"scriptLines": [
						"source(output(",
						"          ORDER_ID as integer,",
						"          ORDER_DATE as date,",
						"          CUSTOMER_ID as integer,",
						"          STORE_ID as integer,",
						"          UPDATED_TIMESTAMP as timestamp,",
						"          ORDER_STATUS as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> source1",
						"source(output(",
						"          ORDER_ID as integer,",
						"          PRODUCT_ID as integer,",
						"          UNIT_PRICE as double,",
						"          QUANTITY as integer,",
						"          UPDATED_TIMESTAMP as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> source2",
						"source(output(",
						"          ORDER_ID as integer,",
						"          PRODUCT_ID as integer,",
						"          UNIT_PRICE as double,",
						"          QUANTITY as integer,",
						"          UPDATED_TIMESTAMP as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> source3",
						"source(output(",
						"          ORDER_ID as integer,",
						"          ORDER_DATE as date,",
						"          CUSTOMER_ID as integer,",
						"          STORE_ID as integer,",
						"          UPDATED_TIMESTAMP as timestamp,",
						"          ORDER_STATUS as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> Orders",
						"source(output(",
						"          CUSTOMER_ID as integer,",
						"          EMAIL_ADDRESS as string,",
						"          FULL_NAME as string,",
						"          UPDATED_TIMESTAMP as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> Customers",
						"source(output(",
						"          ORDER_ID as integer,",
						"          ORDER_DATE as date,",
						"          CUSTOMER_ID as integer,",
						"          STORE_ID as integer,",
						"          UPDATED_TIMESTAMP as timestamp,",
						"          ORDER_STATUS as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> split",
						"source1 filter(/* ORDER_STATUS == 'REFUNDED' || ORDER_STATUS == 'CANCELLED' */\r",
						"/* ORDER_DATE ==toDate('2022-01-07') */\r",
						"and(ORDER_DATE ==toDate('2022-01-07'), ORDER_STATUS == 'CANCELLED')) ~> filter1",
						"source2 sort(desc(UNIT_PRICE, false)) ~> sort1",
						"source3 aggregate(groupBy(ORDER_ID),",
						"     TOTAL_ORDER_QUANTITY = sum(QUANTITY),",
						"          MIN_UNIT_PRICE_IN_ORDER = min(UNIT_PRICE)) ~> aggregate1",
						"Orders, Customers join(Orders@CUSTOMER_ID == Customers@CUSTOMER_ID,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> join1",
						"split split(ORDER_STATUS == 'COMPLETE',",
						"     ORDER_STATUS == 'REFUNDED',",
						"     disjoint: false) ~> split1@(COMPLETE, REFUNDED, REST)",
						"split1@COMPLETE, split1@REST, split1@REFUNDED union(byName: true)~> union2",
						"filter1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'parquet',",
						"     partitionFileNames:['filter_sink.parquet'],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sink1",
						"sort1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'parquet',",
						"     partitionFileNames:['sort_sink.parquet'],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sink2",
						"aggregate1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'parquet',",
						"     partitionFileNames:['agg_sink.parquet'],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sink3",
						"join1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'parquet',",
						"     partitionFileNames:['orders_sink.parquet'],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sink4",
						"union2 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'parquet',",
						"     partitionFileNames:['split_union_sink.parquet'],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sink5"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_cleansed_orders')]",
				"[concat(variables('factoryId'), '/datasets/ds_cleansed_order_items')]",
				"[concat(variables('factoryId'), '/datasets/ds_cleansed_customers')]",
				"[concat(variables('factoryId'), '/datasets/ds_temp_sink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_test_1')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_raw_fabrictest_items",
								"type": "DatasetReference"
							},
							"name": "OrderItemsRaw"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_sink_order_items_df",
								"type": "DatasetReference"
							},
							"name": "OrderItemsTestSink"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          ORDER_ID as short,",
						"          LINE_ITEM_ID as short,",
						"          PRODUCT_ID as short,",
						"          UNIT_PRICE as double,",
						"          QUANTITY as short",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     partitionBy('key',",
						"          0,",
						"          PRODUCT_ID",
						"     )) ~> OrderItemsRaw",
						"OrderItemsRaw sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     partitionFileNames:['xxx.csv'],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> OrderItemsTestSink"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_raw_fabrictest_items')]",
				"[concat(variables('factoryId'), '/datasets/ds_sink_order_items_df')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_orders_partition_raw_to_cleansed')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_raw_orders",
								"type": "DatasetReference"
							},
							"name": "OrdersRaw"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_cleansed_orders",
								"type": "DatasetReference"
							},
							"name": "OrdersSink"
						}
					],
					"transformations": [
						{
							"name": "OrderDateAndUpdatedTimeStamp"
						},
						{
							"name": "CastDataTypesOrders"
						},
						{
							"name": "DropOrderDateTimeAndReorder"
						}
					],
					"scriptLines": [
						"source(output(",
						"          ORDER_ID as string,",
						"          ORDER_DATETIME as string,",
						"          CUSTOMER_ID as string,",
						"          ORDER_STATUS as string,",
						"          STORE_ID as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> OrdersRaw",
						"OrdersRaw derive(ORDER_DATE = toDate(ORDER_DATETIME,'dd-MMM-yy HH.mm.ss.SS'),",
						"          UPDATED_TIMESTAMP = currentUTC()) ~> OrderDateAndUpdatedTimeStamp",
						"OrderDateAndUpdatedTimeStamp cast(output(",
						"          ORDER_ID as integer,",
						"          ORDER_DATETIME as string,",
						"          CUSTOMER_ID as integer,",
						"          ORDER_STATUS as string,",
						"          STORE_ID as integer,",
						"          ORDER_DATE as date,",
						"          UPDATED_TIMESTAMP as timestamp",
						"     ),",
						"     errors: true) ~> CastDataTypesOrders",
						"CastDataTypesOrders select(mapColumn(",
						"          ORDER_ID,",
						"          ORDER_DATE,",
						"          CUSTOMER_ID,",
						"          ORDER_STATUS,",
						"          STORE_ID,",
						"          UPDATED_TIMESTAMP",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> DropOrderDateTimeAndReorder",
						"DropOrderDateTimeAndReorder sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          ORDER_ID as integer,",
						"          ORDER_DATE as date,",
						"          CUSTOMER_ID as integer,",
						"          STORE_ID as integer,",
						"          UPDATED_TIMESTAMP as timestamp,",
						"          ORDER_STATUS as string",
						"     ),",
						"     format: 'parquet',",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('key',",
						"          0,",
						"          ORDER_STATUS",
						"     )) ~> OrdersSink"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_raw_orders')]",
				"[concat(variables('factoryId'), '/datasets/ds_cleansed_orders')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_sql_fabrictest')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('ls_sql_fabrictest_properties_typeProperties_server')]",
					"database": "[parameters('ls_sql_fabrictest_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('ls_sql_fabrictest_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_sql_fabrictest_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sql_orders')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_fabrictest",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "06 SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ORDER_ITEM_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ORDER_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ORDER_DATE",
						"type": "date"
					},
					{
						"name": "CUSTOMER_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ORDER_STATUS",
						"type": "varchar"
					},
					{
						"name": "STORE_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PRODUCT_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "UNIT_PRICE",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "QUANTITY",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SUBTOTAL",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "UPDATED_TIMESTAMP",
						"type": "datetime2",
						"scale": 7
					}
				],
				"typeProperties": {
					"schema": "ORDERS",
					"table": "ORDERS"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_fabrictest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sql_products')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_fabrictest",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "06 SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "PRODUCT_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PRODUCT_NAME",
						"type": "varchar"
					},
					{
						"name": "UNIT_PRICE",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "UPDATED_TIMESTAMP",
						"type": "datetime2",
						"scale": 7
					}
				],
				"typeProperties": {
					"schema": "ORDERS",
					"table": "PRODUCTS"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_fabrictest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sql_stores')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_fabrictest",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "06 SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "STORE_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "STORE_NAME",
						"type": "varchar"
					},
					{
						"name": "LATITUDE",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "LONGITUDE",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "UPDATED_TIMESTAMP",
						"type": "datetime2",
						"scale": 7
					}
				],
				"typeProperties": {
					"schema": "ORDERS",
					"table": "STORES"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_fabrictest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_copy_sql')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*.parquet",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "ParquetReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"STORE_ID"
									]
								},
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "STORE_ID",
											"type": "Int32",
											"physicalType": "INT32"
										},
										"sink": {
											"name": "STORE_ID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "STORE_NAME",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "STORE_NAME",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "LATITUDE",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "LATITUDE",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "LONGITUDE",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "LONGITUDE",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "UPDATE_TIMESTAMP",
											"type": "INT96"
										},
										"sink": {
											"name": "UPDATED_TIMESTAMP",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_structured_stores",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sql_stores",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_structured_stores')]",
				"[concat(variables('factoryId'), '/datasets/ds_sql_stores')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sql_sink')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_structured_stores",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_sql_stores",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "AlterRow1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          STORE_ID as integer,",
						"          STORE_NAME as string,",
						"          LATITUDE as double,",
						"          LONGITUDE as double,",
						"          UPDATE_TIMESTAMP as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> source1",
						"source1 alterRow(upsertIf(true())) ~> AlterRow1",
						"AlterRow1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          STORE_ID as integer,",
						"          STORE_NAME as string,",
						"          LATITUDE as decimal(18,0),",
						"          LONGITUDE as decimal(18,0),",
						"          UPDATED_TIMESTAMP as timestamp",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:true,",
						"     keys:['STORE_ID'],",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          STORE_ID,",
						"          STORE_NAME,",
						"          LATITUDE,",
						"          LONGITUDE,",
						"          UPDATED_TIMESTAMP = UPDATE_TIMESTAMP",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_structured_stores')]",
				"[concat(variables('factoryId'), '/datasets/ds_sql_stores')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_dataflow_copy_sql')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "ds_sql_sink",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/ds_sql_sink')]"
			]
		}
	]
}